.main-visual{
    background-image: url(./img/neko.jpg);
    height: 800px;
    background-size: cover;
}

img{
    max-width: 100%;
}

.neko2{
    
    text-align: left
}
.neko2 img{
width: 500px;
}
h2{
    text-align: right;
    font-size: 30px;
    color: darkgray;
    background: rainbow;
    
}
h4{
    display: flex;
    text-align: right;
    width: 50%;
    font-size: 30px;
    color: blue;
}
.neko3{

    display: flex;
    /* text-align:center; */
    justify-content:flex-end;
        
}
.neko3 img{
    height: 500px; 

}

.neko3 h3{
    font-size: 30px;
    color: lightblue;
}

h1{
    display: flex;
    color: beige;
    width: 50%;
    font-size: 30px;
    display: flex;
    text-align: left;

}

h5{
    display: flex;
    color: fuchsia;
    font-size: 50px;

}

h6{
    
    font-size: 30px;
    color: lightsalmon;
}